body {
  font-family: "Roboto Slab", serif !important;
}

table {
  border: 1px;
}

form {
  width: 100%;
  margin: 10px 0px;
}

a {
  margin-bottom: 10px;
  display: block;
}

form input {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px 7px;
}

form button, 
form select {
  width: 100%;
  padding: 10px 7px;
  margin-bottom: 5px;
}